/* ---------------------------------
 *   Override Final CSS Framework
 * --------------------------------- */
body {
  background-image: url("../img/background.webp");
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 50% 50%;
}
